<div class="bg">
    <img class="logo1" src="https://img.freepik.com/free-vector/grades-concept-illustration_114360-5958.jpg?w=740&t=st=1693393682~exp=1693394282~hmac=e6324a2e5f77a92f6ffe0188f1cb43f3569bedd451d61e53e1d6785dd4dad0b8" alt="cg">

    <div class="log">
        <button>
            <a href="/teacher/login">Teacher Login</a>
        </button>
    </div>
    <div class="log">
        <button>
            <a href="/student/login">Student Login</a>
        </button>
    </div>
</div>

