<div class="bg">
    <img src="https://img.freepik.com/free-vector/features-overview-concept-illustration_114360-1500.jpg?w=740&t=st=1693393490~exp=1693394090~hmac=e52a0365c1aa0a515c61de3e4984f2d1d943faa8ded360c27b8857375fd3c18d">
<div class="log">

    <button>
        <a href="/teacher/viewall">View All Students</a>
    </button>
    </div>
    <div class="log">
    <button>
        <a href="/teacher/add">Add Student</a>
    </button>
</div>
</div>