<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css"> 
    <title>Centered Form</title>
</head>
<body>
    <div class="teachLog">
        <img src="https://img.freepik.com/free-vector/happy-student-concept-illustration_114360-8328.jpg?w=740&t=st=1693395056~exp=1693395656~hmac=22529e41dc8268625b90fcb8058cbb39e4e8def7653ba0abb229511949a150ee" alt="">
        <form method="POST" class="teachForm">
            <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">Name : </label>
                <input type="text" name="name" class="form-control" id="exampleInputPassword1">
            </div>
            <div class="center-button">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </form>
    </div>
</body>
</html>
